################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/SysInfoColl/x64/Debug
/SysInfoCollecter/x64/Debug
/x64/Debug
/SysInfoColl/x64/Release
/x64/Release
/SysInfoCollecter/x64/Release
